<section>
  <div class="container relative">
    <div class="w-full aspect-video">
      {% if image %}
      {% include "image.twig" %}
      {% endif %}

      {% if image is empty %}
      <div class="block aspect-video">
        <div class="w-full !h-full bg-gray-200"></div>
      </div>
      {% endif %}
    </div>

    <div class="absolute w-full -translate-y-1/2 top-1/2">
      <InnerBlocks />
    </div>
  </div>
</section>