<button 
    x-data="navButton" 
    x-on:click="toggle()"
    :class="btnClass()"
    class="relative z-10 flex items-center px-4 py-2 ml-auto text-4xl uppercase transition-all duration-300 border rounded-l-full rounded-r-full"
>
    <span>Menu</span>
    <span class="relative lg:ml-4 flex flex-col justify-between w-7 h-[18px]">
      <span 
          :class="spanClass(0)"
           class="transition-all duration-300 w-full h-[2px]  rounded-lg"></span>
      <span 
          :class="spanClass(1)"
          class="transition-all duration-300 w-full h-[2px]  rounded-lg"></span>
      <span 
          :class="spanClass(2)"
          class="transition-all duration-300 w-full h-[2px]  rounded-lg"></span>
    </span>
</button>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('navButton', () => ({
      open: false,
      toggle() {
        this.open = !this.open

        if (this.open) {
          this.$dispatch('nav:toggle', true)
        } else {
          this.$dispatch('nav:toggle', false)
        }
      },
      btnClass() {
        return 'text-black border-black'
        //return this.open ? 'text-white border-white' : 'text-black border-black'
      },
      spanClass(index) {
        if (index === 0) {
          return this.open ? 'bg-black rotate-45 origin-left !w-[82%]' : 'bg-black'
        } else if (index === 1) {
          return this.open ? 'bg-black opacity-0' : 'bg-black'
        } else if (index === 2) {
          return this.open ? 'bg-black -rotate-45 origin-left !w-[82%]' : 'bg-black'
        }
      }
    }))
  }
  )
</script>