<a class="flex group mb-12  lg:mb-24 flex-col flex-grow transition-block {% if isAdmin == false %} translate-y-8 {% endif %}"
  href="{{link.url}}">
  <div class="mb-4 aspect-[576/587] flex flex-shrink-0 flex-col justify-end  overflow-hidden">
    <div class="overflow-hidden rounded-[36px]">
      <div class="transition-all duration-300 group-hover:scale-110">
        {% include 'image.twig' %}
      </div>
    </div>
  </div>
  <h3 class="text-[clamp(23px,2.1875vw,42px)] leading-[1.22] transition-colors group-hover:text-primary">
    {{title}}
  </h3>
</a>