<div class="py-8"></div>
<peach-trigger target="banana">
  <button>Open Menu</button>
</peach-trigger>

<peach-trigger target="modal">
  <button>Toggle Thing</button>
</peach-trigger>

<peach-off-canvas id="banana">
  <peach-off-canvas-inner orientation="right">
    <h2>
      Off Canvas Inner Yo
    </h2>
  </peach-off-canvas-inner>
</peach-off-canvas>

<peach-off-canvas id="modal">
  <div class="fixed inset-[400px] bg-white rounded-xl flex items-center">
    <h2>Toggle Test</h2>
  </div>
</peach-off-canvas>

<peach-accordion>
  <peach-accordion-item open>
    <h2>Title</h2>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
  </peach-accordion-item>
  <peach-accordion-item>
    <h2>Another Title</h2>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
  </peach-accordion-item>
</peach-accordion>

</div>