.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.editor-styles-wrapper p,
.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
  font-family: sans-serif;
}

.wp-block-giantpeach-slide {
  width: 100%;
  flex-shrink: 0;
  margin-right: 1rem;
}
